<!doctype html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='begin.css')}}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	</head>
	<body>
		<div class="main">
            <div class="titre">
                <p>WELCOME TO PRAVAN UNIVERSITY!</p>
			</div>
            <div class="bouton">
				<a href="/index">Get to the university dashboard</a>
			  </div>
        </div>
	</body>
</html>